input, textarea {
    appearance: none;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    height: 3rem;
    border-radius: .5rem;
    padding: 0.81rem 1rem;
    color: var(--input-placeholder);
    font: var(--body-md-400);
    outline: none;
}

textarea {
    height: 8.5rem;
}

input:focus {
    border-color: var(--brand-light);
}

input {
    &:invalid {
        border-color: var(--danger);
    }
}

.colors {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    input[type="radio"] {
        width: 2.5rem;
        height: 2.5rem;
        border: 6px solid var(--shape-button);
        border-radius: 50%;
        padding: 0;
        cursor: pointer;

        &:hover {
            border-color: var(--shape-hover);
        }

        &:checked {
            border-color: var(--shape-hover);
            outline: 2px solid var(--brand-light);
        }
    }

    #light-blue {
        background-color: var(--brand-light);
    }

    #navy {
        background-color: var(--navy);
    }

    #purple {
        background-color: var(--purple);
    }

    #fuschia {
        background-color: var(--fuschia);
    }

    #pink {
        background-color: var(--pink);
    }

    #red {
        background-color: var(--danger);
    }

    #orange {
        background-color: var(--orange);
    }

    #yellow {
        background-color: var(--yellow);
    }

    #lime {
        background-color: var(--lime);
    }

    #green {
        background-color: var(--green);
    }

    #cyan {
        background-color: var(--cyan);
    }
}