@import url(/styles/fields/index.css);

fieldset {
    border: none;
}

fieldset {
    display: grid;
    margin-bottom: 3rem;

    & .section-title {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 1.5rem;

        & legend {
            color: var(--text-heading);
            font: var(--heading-sm);
        }
    }

    .input-wrapper {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .input-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .textarea-wrapper {
        display: grid;
        margin-top: 1rem;
        gap: 0.75rem;
    }

    .colors-wrapper {
        display: grid;
        gap: 0.75rem;
    }

    #customize-block {
        grid-template-columns: 1fr 2fr;
        align-items: start;
    }

    .droparea-wrapper, .switch-wrapper {
        margin-top: 1.75rem;
        display: grid;
        gap: 0.75rem;
    }

}